<a href="https://colab.research.google.com/github/zhangc19/hello-world/blob/master/ClassExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
myList=["apples","bananas"]
for i in myList:
  i.upper()
  
print(myList)

In [0]:
myList=["apples","bananas"]
for i in myList:
  i=i.upper()
  
print(myList)

In [0]:
myList=["apples","bananas"]
for i in range(len(myList)):
  myList[i]=myList[i].upper()
  
print(myList)

In [0]:
myList=["apples","bananas"]
for i in myList:
  myList.append(i.upper())
  
print(myList)

In [0]:
i=0
while i<3:
  print(i)
  i+=1
else:
  print(0)

In [0]:
mystr = "Machine Learning"
for i in range(mystr):
  print(i)

In [0]:
mystr = "Machine Learning"
for i in range(len(mystr)):
  print(i)

In [0]:
mystr = "Machine Learning"
for i in range(len(mystr)):
  print(mystr[i])

In [0]:
mystr = "Machine Learning"
for i in range(len(mystr)):
  print(mystr)
  mystr="a"

In [0]:
val=1
while True:
  if val%10==0:
    break
  print(val)
  val=val+1

In [0]:
val=1
while True:
  if val%3 == 0:
    break
  print(val)
  val+=1

In [0]:
val=1
while True:
  if val%3 == 0:
    break
  print(val)
  val += 1

In [0]:
def myVar(v):
  v=20
  
v=10
myVar(v)
print(v)

10

In [0]:
def func1(n):
  n=n*n
  return(n)

k=2
j=func1(k)
print(k)
print(j)

2
4

In [0]:
n=2
def func1(n):
  n=n*n
  return(n)

j=func1(n)
print(n)
print(j)

In [0]:

def func1(n):
  n[0]=20
  return(n)

n=[1]
print(n)
func1(n)
print(n)

In [0]:
def myVar(**kwargs):
  for key, val in kwargs.items():
    print(key+":"+val)

myVar(first="abc", second="bcd", third="cde")

first:abc
second:bcd
third:cde

In [0]:
cube=lambda x:x*x*x
print(cube(7))

343

In [0]:
y=8
z= lambda x:x*y

print(z(6))

48